/*
 * Copyright 2023 Paion Data. All rights reserved.
 */
.editor-container {
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
  border-style: solid;
  border-width: 2px;
  backdrop-filter: blur(8px);
  border-color: rgba(130, 221, 248, 0.5);
  width: 90%;
  height: 82%;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  /* max-width: 650px; */
  color: #fff;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 16px;
  caret-color: #fff;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 2px 10px;
}

.editor-placeholder {
  color: #fff;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 2px #fff, 0 0 1em #34c7f4, 0 0 0.2em #34c7f4;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}
